ol {
    width: 440px;
    margin: 0 auto;
    list-style-position: inside;
    font-family: "Roboto", sans-serif;
    /* margin-inline: auto;
    margin-block: ; */
    /* margin-inline-start: 30px; */
}

li {
    padding: 15px;
    color: #fff;
}

li:nth-child(1) {
    color: white="black#000000";
    background-color: black;
}

li:nth-child(2) {
    color: white="silver#C0C0C0";
    background-color: lightgray;
}

li:nth-child(3) {
    color: white="gray#808080";
    background-color: gray;
}

li:nth-child(4) {
    color: white="PETER RIVER#3498DB";
    background-color: lightblue;
}

li:nth-child(5) {
    color: white="maroon#800000";
    background-color: maroon;
}

li:nth-child(6) {
    color: white="red#FF0000";
    background-color: red;
}

li:nth-child(7) {
    color: white="purple#80080";
    background-color: darkmagenta;
}

li:nth-child(8) {
    color: black;
    background-color: #FF00FF;
}

li:nth-child(9) {
    color: white="green#008000";
    background-color: green;
}

li:nth-child(10) {
    color: black;
    background-color: lime;
}

li:nth-child(11){
    color: white="olive";
    background-color: olive;
}

li:nth-child(12){
    color:black;
    background-color: yellow;
}

li:nth-child(13){
    color:white="navy#000080";
    background-color: navy;
}

li:nth-child(14){
    color:white="blue#0000FF";
    background-color: blue;
}

li:nth-child(15){
    color:white="teal#008080";
    background-color: teal;
}

li:nth-child(16){
    color:black;
    background-color: aqua;
}

li:nth-child(11){
    color
}







li:hover {
    background-color: lightgray;
}