body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 50px;
    width: 100%;
    background-color: lime;
}

main{
    max-width: 1320px;
    margin-inline: auto;
    width: 65%;
}

footer{
    background-color: aqua;
    height: 100px;
    margin-inline: auto;
}

h1{
    font-size: 60px ;
    font-weight: 800;
    color: black;
}

h4{
    font-size: 21px;
    font-weight:700;
}

a{
    color:lime;
}

h5{
    font-size: 18px;
    font-weight: 700;
}